body{margin:0;padding:0;}
.box{width:100%;height:150px;background:#ccc;margin:10px;}
.demo-img{width:100%;height:auto;}

/* Tablet */
@media screen and (min-width:772px){
  .box{width:45%;display:inline-block;vertical-align:top;}
  .demo-img{height:30vh;}
}

/* Large screen */
@media screen and (min-width:998px){
  .box{width:30%;}
}
